<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-umeng-analytics"
      version="0.0.1">

    <name>CordovaUmengAnalytics</name>
    <description>cordova umeng analytics Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,umeng,analytics</keywords>
    <repo>https://github.com/tomsean/cordova-umeng-analytics.git</repo>
    <issue>https://github.com/tomsean/cordova-umeng-analytics/issues</issue>

    <engines>
      <engine name="cordova" version=">=3.1.0" />
    </engines>
    <js-module src="www/UmengAnalytics.js" name="UmengAnalytics">
        <clobbers target="window.plugins.umengAnalytics"/>
    </js-module>
    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="UmengAnalytics">
                <param name="android-package" value="com.laoxc.cordova.umenganalytics.UmengAnalytics"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.INTERNET"></uses-permission>
            <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service
                    android:name="com.umeng.update.net.DownloadingService"
                    android:process=":DownloadingService" >
            </service>
            <activity
                    android:name="com.umeng.update.UpdateDialogActivity"
                    android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            </activity>
            <meta-data android:value="${UMENG_APPKEY_VALUE}" android:name="UMENG_APPKEY"/>
            <meta-data android:value="${UMENG_CHANNEL_VALUE}" android:name="UMENG_CHANNEL"/>
        </config-file>
        <source-file src="src/android/UmengAnalytics.java" target-dir="src/com/laoxc/cordova/umenganalytics"/>
        <source-file src="src/android/lib/umeng-analytics-v5.6.4.jar" target-dir="libs"/>

        <source-file src="src/android/lib/umeng-update-v2.6.0.1.jar" target-dir="libs"/>
        <source-file src="src/android/lib/armeabi/libbspatch.so" target-dir="libs/armeabi"/>
        <!-- auto update res -->
        <source-file src="src/android/res/drawable/tb_munion_icon.xml" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable/tb_munion_item_selector.xml" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable/umeng_common_gradient_green.xml" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable/umeng_common_gradient_orange.xml" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable/umeng_common_gradient_red.xml" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable/umeng_update_button_cancel_bg_focused.xml" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable/umeng_update_button_cancel_bg_normal.xml" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable/umeng_update_button_cancel_bg_selector.xml" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable/umeng_update_button_cancel_bg_tap.xml" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable/umeng_update_button_check_selector.xml" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable/umeng_update_button_close_bg_selector.xml" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable/umeng_update_button_ok_bg_focused.xml" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable/umeng_update_button_ok_bg_normal.xml" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable/umeng_update_button_ok_bg_selector.xml" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable/umeng_update_button_ok_bg_tap.xml" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable/umeng_update_dialog_bg.xml" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable/umeng_update_title_bg.xml" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable/umeng_update_wifi_disable.png" target-dir="res/drawable"/>

        <source-file src="src/android/res/drawable-hdpi/umeng_update_btn_check_off_focused_holo_light.png" target-dir="res/drawable-hdpi"/>
        <source-file src="src/android/res/drawable-hdpi/umeng_update_btn_check_off_holo_light.png" target-dir="res/drawable-hdpi"/>
        <source-file src="src/android/res/drawable-hdpi/umeng_update_btn_check_off_pressed_holo_light.png" target-dir="res/drawable-hdpi"/>
        <source-file src="src/android/res/drawable-hdpi/umeng_update_btn_check_on_focused_holo_light.png" target-dir="res/drawable-hdpi"/>
        <source-file src="src/android/res/drawable-hdpi/umeng_update_btn_check_on_holo_light.png" target-dir="res/drawable-hdpi"/>
        <source-file src="src/android/res/drawable-hdpi/umeng_update_btn_check_on_pressed_holo_light.png" target-dir="res/drawable-hdpi"/>
        <source-file src="src/android/res/drawable-hdpi/umeng_update_close_bg_normal.png" target-dir="res/drawable-hdpi"/>
        <source-file src="src/android/res/drawable-hdpi/umeng_update_close_bg_tap.png" target-dir="res/drawable-hdpi"/>

        <source-file src="src/android/res/layout/tb_munion_aditem.xml" target-dir="res/layout"/>
        <source-file src="src/android/res/layout/tb_munion_adview.xml" target-dir="res/layout"/>
        <source-file src="src/android/res/layout/umeng_common_download_notification.xml" target-dir="res/layout"/>
        <source-file src="src/android/res/layout/umeng_update_dialog.xml" target-dir="res/layout"/>

        <source-file src="src/android/res/layout-v9/umeng_common_download_notification.xml" target-dir="res/layout-v9"/>

        <source-file src="src/android/res/values/tb_munion_strings.xml" target-dir="res/values"/>
        <source-file src="src/android/res/values/umeng_common_strings.xml" target-dir="res/values"/>
        <source-file src="src/android/res/values/umeng_update_string.xml" target-dir="res/values"/>

       <!--
        <source-file src="src/android/res/values-zh/umeng_common_strings.xml" target-dir="res/values-zh"/>
        <source-file src="src/android/res/values-zh/umeng_update_string.xml" target-dir="res/values-zh"/>
        -->
        <!-- auto update res end-->
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="UmengAnalytics">
                <param name="ios-package" value="CDVUmengAnalytics"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/Plugins/CDVUmengAnalytics.h"/>
        <source-file src="src/ios/Plugins/CDVUmengAnalytics.m"/>
        <header-file src="src/ios/lib/MobClick.h" />
        <header-file src="src/ios/lib/MobClickSocialAnalytics.h" />
        <source-file src="src/ios/lib/libMobClickLibrary.a" framework="true" />
    </platform>
</plugin>